[Unit]
Description=anna
Documentation=https://anna.earth https://github.com/xh3b4sd/anna
After=redis.service

[Service]
Restart=on-failure
RestartSec=1
StartLimitInterval=300s
StartLimitBurst=3
TimeoutStartSec=0

EnvironmentFile=/etc/environment

# Start the service.
ExecStart=/usr/bin/docker run --rm --name=anna \
  -p ${COREOS_PRIVATE_IPV4}:9119:9119 \
  xh3b4sd/anna:b650352 anna --addr=0.0.0.0:9119 --control-log-verbosity=13 --storage=redis --storage-addr=${COREOS_PRIVATE_IPV4}:6379

# Setup traefik backend and frontend.
ExecStartPost=/usr/bin/etcdctl set /traefik/backends/anna-backend/servers/%N/url http://${COREOS_PRIVATE_IPV4}:9119
ExecStartPost=/usr/bin/etcdctl set /traefik/backends/anna-backend/servers/%N/weight 1
ExecStartPost=/usr/bin/etcdctl set /traefik/frontends/anna-frontend/backend anna-backend
ExecStartPost=/usr/bin/etcdctl set /traefik/frontends/anna-frontend/routes/anna/rule Host:anna.anna.local

# Teardown traefik backend and frontend.
ExecStop=/usr/bin/etcdctl rm --recursive /traefik/backends/anna-backend
ExecStop=/usr/bin/etcdctl rm --recursive /traefik/frontends/anna-frontend

# Stop the service.
ExecStop=/usr/bin/docker stop anna
